<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Cunsumer Complaint Solution System</title>
	<link rel="stylesheet" href="aboutus.component.scss">
</head>
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <pre>Welcome to ConsumerComplaintSolutions.com, your reliable partner in resolving consumer complaints and disputes.
        We understand the frustration and inconvenience that consumers can face when they encounter issues with products, services, or businesses. 
        That's why we've built this platform to help you find effective solutions and advocate for your rights.

        Our Mission
        
        At Consumer Complaint Solutions, our mission is simple yet powerful: To empower consumers, protect their interests, and ensure a fair and transparent marketplace for everyone.
        We are dedicated to providing a user-friendly platform that streamlines the complaint resolution process and connects you with the resources and support you need.
        
        Contact Information:
        
        Email: contactconsumercomplaintsolutions.com
        Phone: 7990723099 </pre>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../assets/image/jay.jpeg" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Jay Suthar</h2>
          <p class="title">web-devloper & full stack , Group leader</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>sutharjay243gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../assets/image/IMG_20240113_073337.jpg" alt="John" style="width:100%">
        <div class="container">
          <h2>Vishal Khambhala</h2>
          <p class="title">front-end devloper , Member</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>khambhalavishal08gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
          <img src="../assets/image/jaivik.jpeg" alt="John" style="width:100%">
          <div class="container">
            <h2>Jaivik</h2>
            <p class="title">back-end devloper , Member</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>johnexample.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="../assets/image/angel.jpeg" alt="John" style="width:100%">
          <div class="container">
            <h2>Angle Gamit</h2>
            <p class="title">Designer</p>
            <p>Some text that describes me lorem ipsum ipsum lorem.</p>
            <p>angelgamit3386gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>
  </div>
</html>